* {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $system-stack;
}

a {
  color: $background-color;
  text-decoration: none;
  &:visited {
    color: $background-color;
  }
  &:hover {
    color: $background-color;
  }
  &:active {
    color: $background-color;
  }
}

p {
  font-family: $sans-serif-stack;
  color: rgb(0, 78, 67);
}

ul {
  display: flex;
  font-family: $sans-serif-stack;
  color: rgb(230, 230, 230);
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid white;
  height: 100%;
  li {
    width: 100%;
    letter-spacing: 1px;
  }
}

h1 {
  color: rgb(0, 78, 67);
}
